<div class="wrapper">
    <div class="inner">
        <ul class="actions center">
            <li><a href="{{ path('front') }}" class="button">Retour à l'accueil</a></li>
        </ul>
    </div>
</div>