<article>
    <a href="#" class="image">
        <img src="{{ asset(project.image.name) }}" alt="{{ project.image.alt }}" />
    </a>
    <h3 class="major">{{ project.name }}</h3>
    <p>{{ project.description }}</p>
    {#<a href="#" class="special">Voir plus</a>#}
</article>
