<!-- Wrapper -->
<div id="wrapper">
    <div class="wrapper">
        <div class="inner">
            <h2 class="major">Expériences</h2>
        </div>
    </div>
    {% for experience in experiences %}
        {% set front = true %}
        {{ include('_inc/_experience.html.twig') }}
    {% endfor %}

    {{ include('_inc/_portfolio.html.twig', {
        all: false
    }) }}

</div>
