<!-- Banner -->
<section id="banner">
    <div class="inner">
        <div class="logo">
            {# Remplace by the user image #}
            <span class="icon fa-gem"></span>
        </div>
        <h2>Abdouni Abdelkarim</h2>
        <p>Développeur PHP Symfony</p>
    </div>
</section>
