<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact depuis abdounikarim.com</title>
</head>
<body>
    <h1>Nouveau message</h1>

    <h2>Nom : </h2>
    <p>{{ contact.name }}</p>
    <br>

    <h2>Email : </h2>
    <p>{{ contact.email }}</p>
    <br>

    <h2>Message : </h2>
    <p>{{ contact.message }}</p>
</body>
</html>
