<footer>
    <div class="inner">
        <ul class="copyright">
            <li>&copy; 2020 - Abdouni Abdelkarim - Tous droits réservés.</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            <li><a href="{{ path('legals') }}">Mentions légales</a></li>
        </ul>
    </div>
</footer>
