<!-- Menu -->
<nav id="menu">
    <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
            <li><a href="{{ path('front') }}">Accueil</a></li>
            <li><a href="{{ path('experiences') }}">Expériences</a></li>
            <li><a href="{{ path('projects') }}">Portfolio</a></li>
        </ul>
        <a href="#" class="close">Fermer</a>
    </div>
</nav>
